$('#result_table_icms').empty();
$("#result_table_icms").append("<table class='table table-striped'><thead><%= j(render(:partial => 'header')) %></thead><tbody><%= j(render @table_icms) %></tbody></table>");
