<h2>Nova interação de feedback de tarefas sistema L7 Logistica</h2>

<%= render 'data_task' %>

<br />

<h3>FeedBack</h3>
<%= render 'internal_comments/feed', comments: @task.feed_internal_comments %>