
<p>Rem. Entr.: <b><%= input_control.id %></b><br>
Motor.: <b><%= input_control.driver.nome.titleize.truncate(30) %> <%= input_control.driver_checkin?.present? ? raw('<i class="fas fa-check text-success"></i>') : raw('<i class="fas fa-times text-danger"></i>') %></b><span></span><br>
Trasp.: <b><%= input_control.carrier.nome.titleize.truncate(30) %></b><br>
