
<p><strong>Rem. Entr.: </strong><span><%= input_control.id %></span></p>
<p><strong>Motorista: </strong><span><%= input_control.driver.nome %></span></p>
<p><strong>Trasportadora.: </strong><span><%= input_control.carrier.nome %></span></p>
