<div class="jumbotron">
  <h1 style="text-shadow: 3px 3px 2px #FFC700, 3px 3px 2px #EEEEEE;">
  	L7 Transporte e Logística
  </h1>
  <p class="lead">
		Logística de Transportes é um ramo da logística que envolve a escolha do melhor modal de transporte, 
		para transportar o maior número de mercadorias, com o mínimo custo e menor tempo possível. Portanto, 
		Transportar mercadorias garantindo a integridade da carga, no prazo combinado e a baixo custo exige o que se chama 
		"logística de transporte".  	
  </p>
  <%= link_to "Sign up now!", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo_l7_64.png", alt: "L7"), 'http://l7logistia.com.br/' %>
