<table class="table table-striped">
  <tr>
    <td>Setor</td>
    <td>Ramais</td>
    <td>Colaborador</td>
  <tr>
  <tr>
    <td>DIRETORIA</td>
    <td>200</td>
    <td>Paulo</td>
  </tr>
  <tr>
    <td>COMERCIAL / TECNOLOGIA</td>
    <td>201</td>
    <td>Danilson / Igor</td>
  </tr>
  <tr>
    <td>PORTARIA</td>
    <td>201</td>
    <td></td>
  </tr>
  <tr>
    <td>PORTARIA DOCAS</td>
    <td>203</td>
    <td>Paiva</td>
  </tr>
  <tr>
    <td>FINANCEIRO</td>
    <td>204</td>
    <td>Simone</td>
  </tr>
  <tr>
    <td>DIRETORIA</td>
    <td>205</td>
    <td>Marcelo Viana</td>
  </tr>
  <tr>
    <td>ENTRADA DE NOTAS</td>
    <td>206</td>
    <td>VALGLEISON</td>
  </tr>
  <tr>
    <td>EXPEDICAO</td>
    <td>207</td>
    <td></td>
  </tr>
  <tr>
    <td>PORTARIA PENTAX</td>
    <td>208</td>
    <td></td>
  </tr>
  <tr>
    <td>DEPOSITO/DOCAS</td>
    <td>209</td>
    <td>Marcelo Lima</td>
  </tr>
  <tr>
    <td>EXPEDICAO CARGAS</td>
    <td>210</td>
    <td>Regis</td>
  </tr>
  <tr>
    <td>FINANCEIRO/SECRETARIA</td>
    <td>211</td>
    <td>Fernanda</td>
  </tr>
</table>

<!--

<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

->
