<tr>
	<td><%= action_inspector %></td>
	<td><%#= action_inspector.nfe_xml.target_client.cpf_cnpj %></td>
	<td><%#= action_inspector.nfe_xml.target_client.nome %></td>
	<td><%#= action_inspector.number %></td>
	<td><%#= action_inspector.action_inspector_number %></td>
	<td><%#= action_inspector.asset.present? %></td>
	<td><%#= link_to 'Baixar', "#", class: "btn btn-info btn-xs" %></td>
</tr>