<h1>Listing offer_drivers</h1>
<div class="panel panel-default">
  <div class="panel-heading">Listagem do Scheduling</div>
  <div class="panel-body">

    <%= link_to 'New Offer driver', new_offer_driver_path, class: "btn btn-primary btn-sm btn-block" %>
    <div class="table-responsive">
      
        <div id="result_scheduling">

        <table class="table table-striped">
          <thead>
            <%= render 'header' %>
          </thead>

          <tbody>
            <%= render @offer_drivers %>
          </tbody>

        </table>
      </div>

    </div>    
  </div>
</div>
