<div class='nested-fields'>
  
  <div class="row">
    <div class="col-xs-2">
	    <%= f.text_field :cte, class: "form-control input-sm numericOnly", placeholder: "Cte"  %>
    </div>

    <div class="col-xs-4">
	    <%= f.text_field :chave, maxlength: 44, class: "form-control input-sm", placeholder: "Chave"  %>
    </div>

    <%= link_to_remove_association "[-] Apagar", f, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>

  </div>
</div>
