<p>
  <strong>Motorista:</strong>
  <%= link_to "#{ object.nome }", object %> 
</p>

<p>
  <strong>CPF:</strong>
  <%= object.cpf %>
</p>

<p>
  <strong>Contatos:</strong>
  <%= object.telefone_completo %>
</p>
