	<div class="form-group">
		<%= label_tag "type_service_id", "Tipo de Ordem de Serviço" %> <br>
		<%= select_tag "ordem_service[tipo]", options_for_select(select_tipo_ordem_servico), prompt: "Selecione um Tipo de Servico", class: "form-control" %>
	</div>

	<div id="form_ordem_service">
		
	</div>

<script type="text/javascript">
	$(document).ready(function() {
	 $("#ordem_service_tipo").change(function() {
			var tipo = $('#ordem_service_tipo').val();
			console.log(tipo);
			$.ajax({
				type: "GET",
				data: {tipo_os: tipo},
				url: '/type_new_ordem_service/'
			});
		});
	});
</script>

