<%= link_to 'New Service', '#new_type_service', 'data-toggle' => 'modal', class: "btn btn-success btn-sm" %>
<table class="table table-striped" id='type_service_table'>
  <thead>
    <th>Trecho</th>
    <th>Servico </th>
    <th>No Adiant.</th>
    <th>Valor</th>
    <th>Lucro</th>
    <th>Iss</th>
    <th>ICMS</th>
    <th>Total</th>
    <th colspan="2">Opções</th>
  </thead>

  <tbody>
    <% ordem_service_type_service.each do |type_service| %>
      <%= render partial: 'ordem_service_type_services/table_row', locals: {item: type_service} %>
    <% end %>    
  </tbody>
</table>

<div class="modal fade" id="new_type_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Adicionar Serviço</h4>
      </div>
      <div class="modal-body">
        <%= render 'ordem_service_type_services/form_js', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>