
<% if object.nfe_keys.present? %>

  <ul class="list-group">
    <% object.nfe_keys.each do |item| %>
      <li class="list-group-item" > 
        <strong> NF-e:</strong> <%= item.nfe %> - 
        <strong>Chave:</strong> <%= item.chave %> 
      </li>
    <% end %>
  </ul>
<% else %>  
  <h2 class="panel-title"> is not exist nfe association </h2>
<% end %>



