<% if object.cte_keys.present? %>

  <ul class="list-group">
    <% object.cte_keys.each do |item| %>
      <li class="list-group-item" > 
        <strong> CT-e:</strong> <%= item.cte %> |
        <strong>Chave:</strong> <%= item.chave %> |
        <strong>Status Cancelamento:</strong> <%= item.cancellations.first.status_name if item.cancellations.present? %> 
				<%= link_to "Solicitar Cancelamento", ordem_service_cte_key_request_cancellation_path(@ordem_service, item), class: "btn btn-warning btn-sm", data: {toggle: "modal"} unless item.cancellations.present? %>
      </li>
    <% end %>
  </ul>
<% else %>  
  <h2 class="panel-title"> is not exist nfe association </h2>
<% end %>
