<div id="tab_contas">
  <div id="dom_id">
    <%= select_tag "dominio_id", options_from_collection_for_select(@dominios, "dom_id", "dom_descricao"), :prompt => "Selecione um Dominio" %>
  </div>
  <div id="dominio_contas_id">
    
  </div>
</div>
