<div class="panel panel-default">
  <div class="panel-heading">Listagem de Ordem de Serviço</div>
  <div class="panel-body">
    <%= link_to 'Nova Ordem de Serviço', new_ordem_service_path, class: "btn btn-primary btn-lg btn-block" %>
		
  	<div class="form-group">
      <%= label_tag "type_service_id", "" %> <br>
      <%= select_tag "type_service_id", options_for_select(select_tipo_ordem_servico), :prompt => "Selecione um Tipo de Ordem Servico", class: "form-control" %>
    </div>
    
    <div class="row">
      
      <div id="type_ordem_service">
        
      </div>
      
    </div>

  </div>
</div>

<script type="text/javascript">
jQuery(function($) {
  // when the #country field changes
  $("#type_service_id").change(function() {
    // make a POST call and replace the content
    var tipo_os = $('select#type_service_id :selected').val();
    if(tipo_os == "") tipo_os="1";
    jQuery.get('/type_ordem_service/' + tipo_os, function(data){
    	  $("#type_ordem_service").remove;
        $("#type_ordem_service").html(data);
    })
    return false;
  });
})
</script>

