<h3>Nova Ordem Serviço</h3>

  <div class="alert alert-warning">
    <p>
      <h2>Feature temporarily disabled</h2>
    </p>
  </div>

  <div class="form-actions">
    <%= link_to "Voltar",  ordem_services_path, class: "btn btn-default" %>
  </div>
<%#= render 'form' %>
