<div>
	<p>
		<strong>CPF:</strong>
		<%= link_to @client.cpf_cnpj, @client %>
	</p>
	<p>
		<strong>Client:</strong>
	  <%= link_to @client.nome, @client %>	
	</p>
	<p>
	  <strong>Aceita operacional de fora?:</strong>
	  <%= extenso_boolean @client.accept_operational %>
	</p>	
</div>