$('#result_file_edi').empty();
$("#result_file_edi").append("<table class='table table-striped'><thead><%= j(render(:partial => 'header')) %></thead><tbody><%= j(render @file_edis) %></tbody></table>");
