<div class="row">
  <form id="search" action="<%= @action.present? ? @action : "" %>" method="get">
    <div class="form-group col-md-5 has-feedback <%= @ean.present? && @pallet.nil? ? "has-error" : ""  %>">
      <label for="qtde">Ler codigo de barras</label>
      <div class="input-group">
        <a href="http://zxing.appspot.com/scan?ret=<%= @request_items %>?ean={CODE}" class="input-group-addon">
          <i class="fas fa-barcode"></i>
        </a>
        <input type="text" id="barcode" name="ean" class="form-control" value="<%= params["ean"] %>">
        <a href="#" onClick="document.getElementById('search').submit();"botton class="btn btn-primary input-group-addon"><i class="fas fa-search"></i></a>
      </div>
      <% if @ean.present? && @pallet.nil? %>
      <small class="text-danger">Palete não encontrado</small>
      <% end %>
    </div>
  </form>
</div>


<script type="text/javascript">
  $(function(){
    $("#barcode").focus();
  })
</script>
