<div class="panel panel-default">
  <div class="panel-heading">Listing Direct Charge</div>
  <div class="panel-body">
    <%= link_to 'New Direct Charge', new_direct_charge_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <%= render 'header' %>
         </tr>
        </thead>

        <tbody>
          <% @direct_charges.each do |direct_charge| %>
            <tr>
              <%= render direct_charge %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>