<div class="panel panel-default">
  <div class="panel-heading">Recebimento de Descargas</div>
  <div class="panel-body">
    <%#= link_to 'Novo Recebimento', new_account_receivable_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <%= render 'account_header' %>
        </thead>

        <tbody>
          <%= render @account_receivables %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
