$('#result_nfe_keys').empty();
$("#result_nfe_keys").append("<table class='table table-striped'><thead><%= j(render(:partial => 'header')) %></thead><tbody><%= j(render @nfe_keys) %></tbody></table>");
