<% if object.operating_services.present? %>

<table class="table table-striped">
  <thead>
    <th>Type Service</th>
    <th>Valor</th>
  </thead>

  <tbody>
    <% object.operating_services.each do |item| %>
      <tr>
        <td><%= item.type_service.descricao if !item.type_service.nil? %></td>
        <td><%= item.valor if !item.type_service.nil? %> </td>
      </tr>
    <% end %>
    <td><strong>Total</strong> </td>
    <td><strong><%= object.operating_services.sum(:valor) %></strong> </td>

  </tbody>

</table>
<% else %>
  <h2 class="panel-title"> ---- </h2>
<% end %>
