<div class="panel panel-default">
  <div class="panel-heading">Listagem de Representantes</div>
  <div class="panel-body">
    <%= link_to 'Novo Representante', new_representative_path, class: "btn btn-primary btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <%= render 'header' %>
        </thead>

        <tbody>
          <% @representatives.each do |representative| %>
            <%= render partial: 'representative', locals: {representative: representative} %>
          <% end %>  
       </tbody>
      </table>
    </div>    
  </div>
</div>
