<%= render "boardings/info/single", boarding: boarding %>
<% if boarding.pending? %>
<p><strong>Observacao: </strong><span><label style="color: #CCC">Embarque com restrição</label></span></p>
<% end %>

<% if boarding.driver_checkin %>

	<% if !boarding.places.include?(boarding.driver_checkin_palce_horse) || !boarding.places.include?(boarding.driver_checkin_palce_cart_1) %>
	    <div class="alert alert-danger">
	    	<% if !boarding.places.include?(boarding.driver_checkin_palce_horse) %>
	      <p>
					Placa Cavalo não está presente no embarque
	      </p>
	      <% end %>
	    	<% if boarding.places.include?(boarding.driver_checkin_palce_cart_1) %>
	      <p>
					Placa Carreta não está presente no embarque
	      </p>
	      <% end %>
	    </div>
	<% end %>

<% end %>



<!-- <p><strong>Motorista: </strong>
<span>
  <% if DriverRestriction.driver_loking?(boarding.driver.id) %>
    <%= boarding.driver.nome %>
  <% else %>
    <%= link_to boarding.driver.nome, new_driver_driver_restriction_path(boarding.driver.id) %>
  <% end %>
  <small>
  <%= boarding.driver_checkin? ? "" : "(Não verificado)" %>
  </small>
</span>
</p> -->
