<p>
  <strong>Duração:</strong>
  <%= date_br @subject_answer.deadline %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @subject_answer.responsible %>
</p>

<p>
  <strong>Assunto:</strong>
  <pre><%= @subject_answer.action %></pre>
</p>

