<%= link_to 'New Account', '#new_account_payable_modal', 'data-toggle' => 'modal', class: "btn btn-success btn-sm" %>
<table class="table table-striped" id='account_payables_table'>
  <thead>
    <th>Tipo</th>
    <th>Nome </th>
    <th>Venc.</th>
    <th>Fgto</th>
    <th>Documento</th>
    <th>Valor</th>
    <th>Observacao</th>
    <th>Status</th>
    <th colspan="2">Opções</th>
  </thead>

  <tbody>
    <% account_payables.each do |account_payable| %>
      <%= render partial: 'account_payables/table_row', locals: {account_payable: account_payable} %>
    <% end %>    
    <tr>
      <td colspan="4"></td>
      <td colspan="1"><strong>Total:</strong></td>
      <td colspan="5"><strong><%= number_to_currency(account_payables.sum(:valor), unit: "R$ ", separator: ",", delimiter: ".") %></strong></td>
    </tr>
  </tbody>

</table>

<div class="modal fade" id="new_account_payable_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new person</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'account_payables/form_js', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
