<div class="panel panel-default">
  <div class="panel-heading">Dados dos Veiculos</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tipo Veículo</th>
            <th>Placa</th>
            <th>Antt.</th>
          </tr>
        </thead>

        <tbody>
          <% object.boarding_vehicles.each do |item| %>
            <tr>
              <td><%= link_to item.vehicle.tipo_nome, item.vehicle if item.vehicle.tipo.present? %></td>
              <td><%= link_to item.vehicle.placa, item.vehicle %></td>
              <td><%= link_to item.vehicle.antt, item.vehicle if item.vehicle.antt.present?%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>	
