<%= breadcrumbs({"Dashboard": dashboard_oper_path, "Embarques": ""}) %>
<div>
  <%= render 'form_search_sup' %>
</div>
<h2>Embarques</h2>
<ul id="result_input" class="list-group dashlist">
  <%= render 'sup_list', boardings: @boardings %>
</ul>
