<% if @result[:success] == false -%>
  $("#messages").hide(300);
  $("#messages").empty("");
  $("#messages").append("<div class='alert alert-danger'><%= @result[:message] %></div>");
  $("#messages").show(300);
<% else -%>
  $("#messages").hide(300);
  $("#messages").empty("");
  $("#messages").append("<div class='alert alert-success'><%= @result[:message] %></div>");
  $("#messages").show(300);
  $('#boarding_items_id_<%= @boarding_item.id %>').remove();
<% end -%>
