<div class="panel panel-default">
  <div class="panel-heading">Listagem de XML de NF-e</div>
  <div class="panel-body">
    <%= link_to 'Novo Upload', new_nfe_xml_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <%= render 'nfe_header' %>
          </tr>
        </thead>

        <tbody>
          <% @nfe_xmls.each do |nfe_xml| %>
            <tr>
              <%= render nfe_xml %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
