<h1>Arquivos Edi NotFis referente ao dia <%= @date %></h1>

<p>Email enviado automaticamente pelo servidor, favor não responder.</p>
<p>Segue em anexo arquivo do OCOREN.</p>
<p><%= Company.first.razao_social %></p>

<p><b>OBSERVAÇÃO:</b></p>
<p>Não responda a esta mensagem, pois foi enviada de um endereço de e-mail não monitorado.
As mensagens enviadas a este endereço não podem ser respondidas.</p>
