<p>
  <strong>Assunto:</strong>
  <%= @subject.title %>
</p>

<p>
  <strong>Duração:</strong>
  <%= time_br @subject.time_meeting %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @subject.responsible %>
</p>
