<% if client.present? %>
<div style="background-color: #F5F5F5;border-radius: 5%; margin-top: 10px;">
	
<p>
  <strong>Nome: &nbsp </strong> <%= client.nome %>
</p>
<p>
	<strong>Estado: &nbsp </strong> <%= client.estado %> - <strong>Cidade: &nbsp </strong> <%= client.cidade %>
</p>
<% end %>

</div>
