<ol class="breadcrumb">
  <li><%= link_to "Home", dashboard_path %></li>
  <li><%= link_to("Pallet", pallets_path) %></li>
  <li class="active">New</li>
</ol>

<h1>Solicitar Palletes</h1>

<%= render 'form' %>

