<h1>Editing Conference Breakdown</h1>

<%= render 'form', conference_breakdown: @conference_breakdown %>

<%= link_to 'Show', @conference_breakdown %> |
<%= link_to 'Back', conference_breakdowns_path %>
