<div class="container-fluid list">
  <h1>Show deposit</h1>
  <div class="row">
    <div class="col-md-12">
      <%= show_line_build @deposit.warehouse.name, "Warehouse" %>
      <%= show_line_build @deposit.name, "Name" %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_deposit_path(@deposit), class: "btn btn-primary" %>
<%= link_to 'Back', deposits_path, class: "btn btn-default" %>
