$('#result_search').empty();
$("#result_search").append("<table class='table table-striped'><thead><%= j(render(:partial => 'header')) %></thead><tbody><%= j(render @schedulings) %></tbody></table>");
