<div class="panel panel-default">
  <div class="panel-heading">Listagem Contas Correntes</div>
  <div class="panel-body">
    <%= link_to 'Novo Conta', new_cash_account_path, class: "btn btn-blue btn-lg btn-block" %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <%= render 'header' %>
        </thead>

        <tbody>
          <% @cash_accounts.each do |cash_account| %>
            <%= render "list", object: cash_account %>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
