<ul>
		<li>
			<strong>No: </strong>
			<%= link_to control_pallet_internal.id, control_pallet_internal %>
			<strong>Equipamento: </strong>
			<%= control_pallet_internal.equipament_name %>
			<strong>Qtde: </strong>
			<%= control_pallet_internal.qtde %>
		</li>
</ul>
