<fieldset class="item">
  <div class="row">
    <div class="col-xs-2">
      <%= f.collection_select :vehicle_id, Vehicle.all, :id, :placa,  {:prompt => 'Select'}, {class: "form-control input-sm" }  %>
    </div>  

    <a href="#" class="btn btn-danger btn-sm remove" data-confirm="Are you sure?">[-] Apagar</a>

  </div>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>
