<div class="alert alert-warning" role="alert">
  <strong>Sr. Usuário(a)</strong> <%= current_user.email %>
  <p>
    Realize o cadastro conforme as exigências informadas abaixo.
    <ul>
      <li>Após a finalização do cadastro conferir sua digitação conforme os documentos do veículo.</li>
      <li>Anexar os documentos do veículo em formato PDF.</li>
    </ul>
  </p>
</div>
