$('#result_scheduling').empty();
$("#result_scheduling").append("<table class='table table-striped'><thead><%= j(render(:partial => 'header')) %></thead><tbody><%= j(render @schedulings) %></tbody></table>");

