<table border="1" style="width:718px;">
		<tr>
			<td align="center" bgcolor="#1f497d" style="color:white" colspan="2">
				<h2>NOVO PRODUTO CADASTRADO NO SISTEMA</h2>
			</td>
		</tr>
		<tr>
			<td align="center" style="width:150px;">ID:</td>
			<td align="center" bgcolor="#ffff99" style="color:#1f497d"><%= @product.id %></td>
		</tr>
		<tr>
			<td align="center" style="width:150px;">Cod Prod</td>
			<td align="center" style="color:#1f497d"><%= @product.cod_prod %></td>
		</tr>
		<tr>
			<td align="center" style="width:150px;">Descrição</td>
			<td align="center" style="color:#1f497d"><%= @product.descricao %></td>
		</tr>
</table>
