<p>
  <strong>Descricao:</strong>
  <%= @category.descricao %>
</p>

<div class="form-group">
  <%= link_to 'Editar', edit_category_path(@category), class: "btn btn-blue" %> 
  <%= link_to 'Listar Todos', categories_path, class: "btn btn-default" %>
</div>