<table style="font-family: sans-serif; min-width:300px; max-width:500px; border:1px solid #CCC; padding:25px; margin: 0 auto;">
  <tr>
    <td align="center">
      <!-- <img src="<%= image_url("logo_yohan.png") %>" width="150" alt=""> -->
      <%#= image_tag(image_url("logo_yohan.png"), width: '150', alt: "Yohan WMS") %>
      <p style="color:#666; margin-top:0; font-size: 14px; font-weight:bold;">Yohan WMS</p>
      <br>
    </td>
  </tr>
  <tr>
    <td style="text-align: center">
      <h1>Mudar senha</h1>
      <h3 style="margin-top:-20px"><%= Company.first.fantasia%></h3>
      <h3>Olá <%= @resource.email %>!</h3>

      <p>Você solicitou um link para <strong>alterar sua senha</strong>. Você pode fazer isso através do link abaixo.</p>
      <br><br>
      <p>
        <%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token), style: "background: #0072bc; text-decoration:none; color:white; padding:8px 15px; border-radius:5px;" %>
      </p>
      <br><br>
      <p>
        <small>
        Se você não solicitou isso, ignore este e-mail.
      <br>
        Sua senha não será alterada até você acessar o link acima e criar um novo.
        </small>
      </p>
    </td>
  </tr>
</table>
