<h1>Mudar senha</h1>
<h3>Olá <%= @resource.email %>!</h3>

<p>Você solicitou um link para <strong>alterar sua senha</strong>. Você pode fazer isso através do link abaixo.</p>
<br>
<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token), style: "background: #5cb85c; text-decoration:none; color:white; padding:8px 15px; border-radius:5px;" %>
<br><br>
<p>
  <small>
  Se você não solicitou isso, ignore este e-mail.
<br>
  Sua senha não será alterada até você acessar o link acima e criar um novo.
  </small>
</p>
