<p>
  <strong>Descricao:</strong>
  <%= @activity.descricao %>
</p>

<div class="form-group">
  <%= link_to 'Editar', edit_activity_path(@activity), class: "btn btn-primary" %> 
  <%= link_to 'Voltar', activities_path, class: "btn btn-default" %>
</div>

