<tr>
	<th>Data</th>
  <td align="right"><strong>Peso Bruto</strong></td>
  <td align="right"><strong>Peso Liquido</strong></td>
  <td align="right"><strong>Valor Bruto</strong></td>
  <td align="right"><strong>Valor Liquido</strong></td>
</tr>
