<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Pesquisar
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">

      <%= render "form_search_received_weight" %>

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Relatorio de Recebimentos de Mercadoria (Peso por Data)</div>
  <div class="panel-body">
    <div class="table-responsive">
      <div id="result_input">

        <%= render 'list_received_weight', input_control: @input_controls %>
        
      </div>    
    </div>    
  </div>
</div>