<%= breadcrumbs({"Dashboard": dashboard_oper_path, "Entradas": ""}) %>
  <%= render 'form_search_sup', input_controls: @input_controls %>
<h2>Entradas - Chefe de Galpão</h2>
<ul id="result_input" class="list-group dashlist">
  <%= render 'sup_list', input_controls: @input_controls %>
</ul>
