<% if product.present? %>

  <div class="panel panel-default">
  	  <div class="panel-heading">
  	    <h2 class="panel-title"> </h2>
  	  </div>
  	  <div class="panel-body">

        <p>
          <strong><%= product.descricao %></strong>
        </p>
        <p>
          <strong>Uni. Medida:</strong>
          <%= product.unid_medida %>
        </p>

  	  </div>
  </div>

<% else %>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"> </h2>
      </div>
      <div class="panel-body">

        <div class='alert alert-error'>Nao foi possivel localizar esse produto.</div>

      </div>
  </div>

<% end %>