<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Produto
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel panel-default">

          <div class="panel panel-default">

            <div class="panel-body">

            <%= render 'data_product' %>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!--
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">

        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">


      </div>
    </div>
  </div> -->

<!-- Fim collapse  -->
</div>


<div class="form-group">
  <%= link_to 'Editar', edit_product_path(@product), class: "btn btn-blue" %>
  <%= link_to 'Listar Todos',  products_path, class: "btn btn-default" %>
  <%= link_to 'Pesquisar com EAN', search_ean_products_path, class: "btn btn-default" %>
</div>
