<fieldset class="item">

  <div class="row">
    <div class="col-xs-2">
     <%= f.collection_select :activity_id, Activity.all, :id, :descricao, {include_blank: "Selecione a Atividade"}, {class: "form-control input-sm" }%>
    </div>  
  </div>

  <a href="#" class="btn btn-danger btn-sm remove" data-confirm="Are you sure?">[-] Apagar</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>
