<% if @item_product.nil? %>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"> </h2>
      </div>
      <div class="panel-body">

        <div class='alert alert-error'>Nao foi possivel localizar NF-e para esta remessa de entrada.</div>

      </div>
  </div>

<% end %>