<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>L7 Logistica | Dashboard v2</title>

</head>
<body>
    <div class="overlay"></div>
    <div class="header">
        <div class="left-side">
            <i class="fa fa-bars btn-open-sidebar-mobile yellow-icon"></i>
            <input type="checkbox" id="check-profile-modal">
            <label for="check-profile-modal">
                <div class="left-side">
                    <div class="profile-pic"></div>
                    <p class="profile-name">Marcos Roberto</p>
                </div>
                <div class="profile-modal">
                    <a href="#">Alterar senha</a>
                </div>
            </label>
        </div>
        
        <div class="right-side">
            <i class="far fa-bell notification"></i>
            <a href="#">Sair</a>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-logo">
            <i class="fa fa-times yellow-icon btn-close-sidebar-mobile"></i>
            <input type="checkbox" id="check-toggle-sidebar">
            <label for="check-toggle-sidebar">
                <div class="btn-toggle-sidebar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </label>
        </div>
        <div class="sidebar-container">
            <div class="sidebar-menu">
                <a href="#">
                        <i class="fas fa-home menu-icon"></i>
                        <p class="menu-text">Início</p>
                </a>
                <a href="#">
                        <i class="fas fa-layer-group menu-icon"></i>
                        <p class="menu-text">Registros</p>
                </a>
                <a href="#" class="has-level">
                        <i class="fas fa-clock menu-icon"></i>
                        <p class="menu-text">Demanda</p>
                </a>
                <div class="level">
                    <a href="#">
                            <i class="fas fa-sign-in-alt menu-icon"></i>
                            <p class="menu-text">Entrada</p>
                    </a>
                    <a href="#" class="has-level">
                            <i class="fas fa-sign-out-alt menu-icon"></i>
                            <p class="menu-text">Saída</p>
                    </a>
                    <div class="level">
                        <a href="#">
                                <i class="fas fa-sign-in-alt menu-icon"></i>
                                <p class="menu-text">Entrada</p>
                        </a>
                        <a href="#">
                                <i class="fas fa-sign-out-alt menu-icon"></i>
                                <p class="menu-text">Saída</p>
                        </a>
                    </div>
                </div>
                <a href="#">
                        <i class="fas fa-truck menu-icon"></i>
                        <p class="menu-text">Fretes</p>
                </a>
                <a href="#" class="has-level">
                        <i class="fas fa-file-signature menu-icon"></i>
                        <p class="menu-text">Ordens de Serviço</p>
                </a>
                <div class="level">
                    <a href="#">
                            <i class="fas fa-sign-in-alt menu-icon"></i>
                            <p class="menu-text">Entrada</p>
                    </a>
                    <a href="#">
                            <i class="fas fa-sign-out-alt menu-icon"></i>
                            <p class="menu-text">Saída</p>
                    </a>
                </div>
                <a href="#">
                        <i class="fas fa-file-invoice-dollar menu-icon"></i>
                        <p class="menu-text">Taxas</p>
                </a>
                <a href="#">
                        <i class="fas fa-question-circle menu-icon"></i>
                        <p class="menu-text">Ajuda</p>
                </a>
            </div>
        </div>
    </div>

    <div class="content">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    
<script type="text/javascript">

const checkToggleSidebar = document.getElementById('check-toggle-sidebar');
const sidebar = document.querySelector('.sidebar');
const menuTexts = document.querySelectorAll('.menu-text');
const profileName = document.querySelector('.profile-name');
const header = document.querySelector('.header');
const hasLevels = document.querySelectorAll('.has-level');
const isActives = document.querySelectorAll('.-is-active');
const btnOpenSidebar = document.querySelector('.btn-open-sidebar-mobile');
const btnCloseSidebar = document.querySelector('.btn-close-sidebar-mobile');
const content = document.querySelector('.content');
const overlay = document.querySelector('.overlay');

checkToggleSidebar.addEventListener('change', function() {
    if (this.checked) {
        sidebar.classList.add('-is-collapsed');
        menuTexts.forEach(menuText => {
            menuText.classList.add('-w-sidebar-collapsed');
        });
        header.classList.add('-w-sidebar-collapsed');
        hasLevels.forEach(hasLevel => {
            hasLevel.classList.add('-w-sidebar-collapsed');
        });
        isActives.forEach(isActive => {
            isActive.classList.add('-w-sidebar-collapsed');
        });
        content.classList.add('-w-sidebar-collapsed');
    }
    else {
        sidebar.classList.remove('-is-collapsed');
        menuTexts.forEach(menuText => {
            menuText.classList.remove('-w-sidebar-collapsed');
        });
        header.classList.remove('-w-sidebar-collapsed');
        hasLevels.forEach(hasLevel => {
            hasLevel.classList.remove('-w-sidebar-collapsed');
        });
        isActives.forEach(isActive => {
            isActive.classList.remove('-w-sidebar-collapsed');
        });
        content.classList.remove('-w-sidebar-collapsed');
    }
});

hasLevels.forEach(hasLevel => {
    hasLevel.addEventListener('click', function() {
        const level = this.nextElementSibling;
        level.classList.toggle('-is-expanded');
        this.classList.toggle('-is-active');
    });
});

btnOpenSidebar.addEventListener('click', function() {
    sidebar.classList.add('-is-open-on-mobile');
    overlay.classList.add('-w-sidebar-open-on-mobile');
});

btnCloseSidebar.addEventListener('click', function() {
    sidebar.classList.remove('-is-open-on-mobile');
    overlay.classList.remove('-w-sidebar-open-on-mobile');
});

</script>
    


</body>
</html>