<div class="sidebar-menu">
  <a href="/dashboard_sup">
    <i class="fas fa-file-signature menu-icon"></i>
    <p class="menu-text">Inicio</p>
  </a>

  <a href="/input_controls/sup">
    <i class="fas fa-file-signature menu-icon"></i>
    <p class="menu-text">Entradas</p>
  </a>

  <a href="/boardings/sup">
    <i class="fas fa-truck menu-icon"></i>
    <p class="menu-text">Embarques</p>
  </a>

  <a href="/driver_restrictions">
    <i class="fas fa-truck menu-icon"></i>
    <p class="menu-text">Motoristas Bloqueados</p>
  </a>

  <a href="/vehicle_restrictions">
    <i class="fas fa-truck menu-icon"></i>
    <p class="menu-text">Veiculos Bloqueados</p>
  </a>

</div>
