
  <div class="sidebar">

    <label for="check-toggle-sidebar" class="button-collapse">
    <input type="checkbox" id="check-toggle-sidebar">
      <div class="btn-toggle-sidebar">
        <i class="fas fa-angle-left icon"></i>
      </div>
    </label>
    <div class="sidebar-logo" >

      <%= Company.first.fantasia%>
      <i class="fa fa-times yellow-icon btn-close-sidebar-mobile"></i>
      <!-- <input type="checkbox" id="check-toggle-sidebar">
      <label for="check-toggle-sidebar">
        <div class="btn-toggle-sidebar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </label> -->
    </div>
      <div class="sidebar-container">

        	<% if current_user.has_role? :admin %>
        	  <%= render 'layouts/sidebar_admin' %>
        	<% end %>

        	<%# if current_user.has_role? :visit %>
        	  <%#= render 'layouts/sidebar_visit' %>
        	<%# end %>

        	<%# if current_user.has_role? :agent %>
        	  <%#= render 'layouts/sidebar_agent' %>
        	<%# end %>

        	<%# if current_user.has_role? :oper %>
        	  <%#= render 'layouts/sidebar_oper' %>
        	<%# end %>

        	<%# if current_user.has_role? :port %>
        	  <%#= render 'layouts/sidebar_port' %>
        	<%# end %>

          <% if current_user.has_role? :sup %>
        	  <%= render 'layouts/sidebar_sup' %>
        	<% end %>


    </div>
  </div>
