<div class="sidebar-menu">

  <a href="/input_controls">
    <i class="fas fa-file-signature menu-icon"></i>
    <p class="menu-text">Entradas</p>
  </a>

  <a href="/boardings/sup">
    <i class="fas fa-truck menu-icon"></i>
    <p class="menu-text">Embarques</p>
  </a>

  <a href="/vehicle_restrictions">
    <i class="fas fa-truck menu-icon"></i>
    <p class="menu-text">Veiculos Bloqueados</p>
  </a>

</div>
