<div class="sidebar-menu">
  <!--
    <a href="#">
      <i class="fas fa-home menu-icon"></i>
      <p class="menu-text">Início</p>
    </a>
  -->
    <a href="/links">
      <i class="fas fa-clock menu-icon"></i>
      <p class="menu-text">Links</p>
    </a>
    <a href="/clients">
      <i class="fas fa-user-tie menu-icon"></i>
      <p class="menu-text">Clientes</p>
    </a>
    <a href="/drivers">
      <i class="fas fa-user-friends menu-icon"></i>
      <p class="menu-text">Motoristas</p>
    </a>

    <a href="/nfe_keys">
      <i class="fas fa-search menu-icon"></i>
      <p class="menu-text">Consulta NF-e</p>
    </a>

    <a href="/calculate_liquidity">
      <i class="fas fa-file-invoice-dollar menu-icon"></i>
      <p class="menu-text">Calcular Frete</p>
    </a>
    <a href="/nfe_xmls">
      <i class="fas fa-file-signature menu-icon"></i>
      <p class="menu-text">Upload XML</p>
    </a>
    <a href="/ordem_services">
      <i class="fas fa-file-signature menu-icon"></i>
      <p class="menu-text">Ordem de Serviço</p>
    </a>

    <a href="/input_controls">
      <i class="fas fa-file-signature menu-icon"></i>
      <p class="menu-text">Entradas</p>
    </a>

    
    <%= link_to palletizings_path do %>
      <i class="fas fa-pallet"></i>
      <p class="menu-text">Paletização</p>
    <% end %>

    <a href="/boardings">
      <i class="fas fa-truck menu-icon"></i>
      <p class="menu-text">Embarques</p>
    </a>

    <a href="#" class="has-level">
      <i class="fas fa-layer-group menu-icon"></i>
      <p class="menu-text">Cadastros</p>
    </a>
    <div class="level">
      <a href="/group_clients">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Grupo de Cliente</p>
      </a>
      <a href="/type_services">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Tipos Servicos</p>
      </a>
      <a href="/employees">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Funcionarios</p>
      </a>
      <a href="/suppliers">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Fornecedores</p>
      </a>
      <a href="/carriers">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Transportadoras</p>
      </a>
      <a href="/vehicles">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Veículos</p>
      </a>
      <a href="/antts">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">ANTT</p>
      </a>
      <a href="/promoters">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Promotores</p>
      </a>
      <a href="/representatives">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Representantes</p>
      </a>
      <a href="/owners">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Proprietários</p>
      </a>
      <a href="/specialties">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Especialidades</p>
      </a>
      <a href="/activities">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Atividades</p>
      </a>

      <a href="#" class="has-level">
        <i class="fas fa-clock menu-icon"></i>
        <p class="menu-text">Produtos</p>
      </a>
      <div class="level">
        <a href="/categories">
          <i class="fas fa-sign-in-alt menu-icon"></i>
          <p class="menu-text">Categorias</p>
        </a>
        <a href="/products">
          <i class="fas fa-sign-in-alt menu-icon"></i>
          <p class="menu-text">Cadastro Produtos</p>
        </a>
      </div>
      <a href="/segments">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Segmento Mercado</p>
      </a>
      <a href="/nature_freights">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Natureza da Carga</p>
      </a>

      <a href="#" class="has-level">
        <i class="fas fa-clock menu-icon"></i>
        <p class="menu-text">Trechos e Rotas</p>
      </a>
      <div class="level">
        <a href="/micro_regions">
          <i class="fas fa-sign-in-alt menu-icon"></i>
          <p class="menu-text">Micro Regioes</p>
        </a>
        <a href="/stretch_routes">
          <i class="fas fa-sign-in-alt menu-icon"></i>
          <p class="menu-text">Trechos/Rotas</p>
        </a>
      </div>

      <a href="/table_icms">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Tabela ICMS</p>
      </a>
      <a href="/table_freights">
        <i class="fas fa-sign-in-alt menu-icon"></i>
        <p class="menu-text">Tabela Frete Minimo</p>
      </a>

      <div class="level">
        <a href="#">
          <i class="fas fa-sign-in-alt menu-icon"></i>
          <p class="menu-text">Entrada</p>
        </a>
        <a href="#">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Saída</p>
        </a>
      </div>
    </div>
    <a href="#" class="has-level">
      <i class="fas fa-tags menu-icon"></i>
      <p class="menu-text">WMS</p>
    </a>
    <div class="level">
      <a href="/warehouses">
        <i class="fas fa-warehouse menu-icon"></i>
        <p class="menu-text">Armazém</p>
      </a>
      <a href="/deposits">
        <i class="fas fa-boxes menu-icon"></i>
        <p class="menu-text">Galpões</p>
      </a>
      <a href="/streets">
        <i class="fas fa-road menu-icon"></i>
        <p class="menu-text">Ruas</p>
      </a>
      <a href="/floors">
        <i class="fas fa-layer-group menu-icon"></i>
        <p class="menu-text">Andares</p>
      </a>
      <a href="/houses">
        <i class="fas fa-pallet menu-icon"></i>
        <p class="menu-text">Casa</p>
      </a>
      <a href="/addresses_houses">
        <i class="fas fa-table menu-icon"></i>
        <p class="menu-text">Visualizar Endereços</p>
      </a>
      <a href="/addresses_houses/new">
        <i class="fas fa-cogs menu-icon"></i>
        <p class="menu-text">Gerar Endereços</p>
      </a>
    </div>
    <!--
      Inicio Menu Operacional
    -->
    <a href="#" class="has-level">
      <i class="fas fa-file-signature menu-icon"></i>
      <p class="menu-text">Operacional</p>
    </a>
      <div class="level">
        <a href="#" class="has-level">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Container</p>
        </a>
        <div class="level">
          <a href="/schedulings">
            <i class="fas fa-sign-in-alt menu-icon"></i>
            <p class="menu-text">Agenda Container</p>
          </a>
          <a href="/list_input_scheduling">
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <p class="menu-text">List Container</p>
          </a>
          <a href="/list_ordem_service_scheduling">
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <p class="menu-text">List Container O.S</p>
          </a>
        </div>

        <a href="/phone_calls">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Atendimento</p>
        </a>

        <a href="/action_inspectors">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Ação Fiscal</p>
        </a>

        <a href="/direct_charges">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Carga Direta</p>
        </a>
        <a href="/offer_charges">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Oferta de Carga</p>
        </a>
        <a href="/selection_shipment">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Gerar Embarque</p>
        </a>

        <a href="/billing_group_places_ordem_services">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Faturamento Placa</p>
        </a>

        <a href="/ordem_service_type_services">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Pgto Efetuados OS</p>
        </a>
        <a href="/search">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Consulta O.S.</p>
        </a>
        <a href="/tasks">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Tarefas</p>
        </a>
        <a href="/meetings">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Ata de Reunioes</p>
        </a>
        <a href="/cancellations">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Cancelamentos</p>
        </a>

        <a href="#" class="has-level">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Pallets</p>
        </a>
        <div class="level">
          <a href="/pallets">
            <i class="fas fa-sign-in-alt menu-icon"></i>
            <p class="menu-text">Cadastro Pallets</p>
          </a>
          <a href="/control_pallets">
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <p class="menu-text">Control Pallets</p>
          </a>
          <a href="/stocks">
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <p class="menu-text">Estoque Paletes</p>
          </a>
          <a href="/selection_pallet">
            <i class="fas fa-sign-out-alt menu-icon"></i>
            <p class="menu-text">Embarque Paletes</p>
          </a>
        </div>

      </div>
    <!--
      Fim Menu Operacional
    -->

    <!--
      Inicio Menu Financeiro
    -->

    <a href="#" class="has-level">
      <i class="fas fa-file-signature menu-icon"></i>
      <p class="menu-text">Financeiro</p>
    </a>

      <div class="level">
        <a href="/faturamento">
          <i class="fas fa-sign-in-alt menu-icon"></i>
          <p class="menu-text">Faturar</p>
        </a>
        <a href="/billings">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Faturamentos</p>
        </a>
        <a href="/billing_input_control">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Fat. Entradas</p>
        </a>
        <a href="/advance_moneys">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Adiantamento</p>
        </a>

        <a href="/cashes">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Caixa</p>
        </a>

        <a href="/account_payables">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Contas a Pagar</p>
        </a>

        <a href="/account_receivables">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Contas a Receber</p>
        </a>

        <a href="/account_receivables/received_driver">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Recebimento de Descargas</p>
        </a>

        <a href="/input_controls/received_weight">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Pgto Descargas</p>
        </a>

        <a href="/boardings/payment_discharge_client">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Descargas Diárias</p>
        </a>

        <a href="/lower_payables">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Baixa de Pagamentos</p>
        </a>

        <a href="/ordem_services/request_payables">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Solicitações Pagamento</p>
        </a>

        <a href="/current_accounts">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Lançamentos</p>
        </a>

        <a href="/historics">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Historicos</p>
        </a>

        <a href="/cost_centers">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Centro de Custo</p>
        </a>

        <a href="/sub_cost_centers">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Sub Centro de Custo</p>
        </a>

        <a href="/sub_cost_center_threes">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Sub Centro de Custo Nivel 3</p>
        </a>

        <a href="/payment_methods">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Forma de Pagamento</p>
        </a>

        <a href="/cash_accounts">
          <i class="fas fa-sign-out-alt menu-icon"></i>
          <p class="menu-text">Contas Bancarias</p>
        </a>


      </div>

    <!--
      Fim Menu Financeiro
    -->


    <a href="#">
      <i class="fas fa-question-circle menu-icon"></i>
      <p class="menu-text">Ajuda</p>
    </a>

</div>
